p {font-size: 16px; color: #212121}
h1 {font-size: 36px; margin-top: 24px}
h2 {font-size: 14px; font-weight: bold}
h3 {font-size: 20px; font-weight: bold}
a, .header p a, .content-listing h2 a, .footer p a {color: #15c; text-decoration: underline;}
hr {border: none; border-top: 1px solid #e0e0e0}

.display-fallback {font-size: 13px; color: #888}
p.pub-date {font-size: 11px; color: #888}
img.logo {width: 114px; float: right}

.content-listing h3 {margin-top: 24px; margin-bottom: 6px}
.content-listing p.author {font-weight: bold; margin-bottom: 12px}
.content-listing p.description {font-family: Georgia, Times, serif;}
.content-listing p {margin-bottom: 24px}
.content-listing div.item {border-bottom: 1px solid #e0e0e0}
.content-listing div.item:last-child {border-bottom: none}

.footer h2 {font-size: 13px; font-weight: bold}
.footer p, .footer ul {font-size: 13px}
.footer ul {padding: 0; list-style: none}
